* {
    margin: 0;
    padding: 0;
}

img {
    width: 100%;
}

body {
    background-color: white;
    font-size: 18px;
    font-family: "Kanit", sans-serif;
    margin: 50px;
 
}


/* Container */
#container { 
    display: grid;
    gap: 10px;


 }

/* Header */
.header {
    display: grid;
    grid-template-areas: 
    'hero hero feature-1'
    'hero hero feature-2';


}

.hero {
    grid-area: hero;
    min-height: 300px;
    background-image: url('../img/Mini\ Hero.png');
    background-size: cover;
    background-position: center;
    padding: 50px;
}

 .hero > * {
    display: none;
} 

.features {
    background-color: black;
    color: white;
    display: grid;
    place-content: center;
    text-align: center;
    cursor: pointer;
}

.features.feature-1 {
    grid-area: feature-1;
    background-image: url("../img/Mini\ Cabrio\ 1.png");
    background-size: cover;
    background-position: center;
}

.features.features.feature-2 {
    grid-area: feature-2;
    background-image: url("../img/Mini\ Cabrio\ 2.png");
    background-size: cover;
    background-position: center;
}

.features .price {
    font-size: 2em;
    text-shadow: 1px 1px 8px rgba(0, 0, 0, 0.7);
} 

/* Nav */
.menu {
    order: -1;
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
}

.menu .brand {
    font-size: 1.2em;
}

.menu ul {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 5px;
}

.menu a {
    background-color: #000;
    display: block;
    color: white;
    text-decoration: none;
    text-align: center;
    padding: 5px;
    font-size: 0.9em;
}

/* Hamburger Menu */
.menu-toggle {
    display: none;
}

.hamburger-icon {
    cursor: pointer;
    display: inline;
    .icon {
        color: black;
    }
}

.close-icon {
    cursor: pointer;
    display: none;
    .icon {
    
        color: white;
    }
}

@keyframes menuAnimation {
    from {
      
        opacity: 0;
      }
    
      to {
     
        opacity: 1;
      }
}


/* Responsive Breakpoints */
@media (max-width: 1024px) {
    .menu {
        order: inherit;
        grid-template-columns: 1fr;
    }

    .menu .brand {
        display: none;
    }
    .hero > * {
        display: block;
        color: white;
        text-shadow: 1px 1px 8px rgba(0, 0, 0, 0.5);
        background-color: black;
       
        text-align: center;
       padding: 5px;
       margin-bottom: 5px;
    }

    .hero {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
    }
    
}

@media (max-width: 768px) {
    .menu {
        order: -1;
        /* display: none; */
    }

    .menu-toggle {
        display: flex;

      
        font-size: 30px;
     
    }
 
    
    .menu ul {
        background-color: red;
        position: absolute;
        top: 0;
        width: 50%;
        height: 100%;
        /* display: grid; */
        display: none;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4,1fr) ;
        gap: 0;
        transition: 1s ease;
        animation: menuAnimation;
        /* position: relative; */
        li {

            border: 0.5px solid white;
            display: grid;
            align-content: center;
            justify-content: center;
            background-color: black;
            a {
                color: white;
                height: 100%;
            }
        }
    }

  


    .close-icon {
        display: none;
        position: absolute;
        left: 0;
        top: 0;
        z-index: 1;  
    }
  

 
  
}

@media (max-width: 450px) {
    
}